body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 97%; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-inline: 7px;
}

.box {
    width: 260px;
    margin: 10px;
    margin-inline: 11px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(1, 0, 0, 0.1); /* Adjust the values as needed */
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 18px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: 15px;
}


button {
    background-color: #66ca69;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 17px;
    border-top-right-radius: 0;
    cursor: pointer;
    font-size: 14px;
}

.green_btn:hover {
    cursor: pointer; /* Optional: Change cursor on hover */
    border: 1px solid #333;
    margin-bottom: -1px;
    box-shadow: 5px 5px 10px rgba(1, 0, 0, 0.15); /* Adjust the values as needed */
}

.datetime-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date-time-field {
    width: 48%; 
}

.date-time-field1 {
    width: 56%; 
}

#time, #date{
    height: 34px;
}

.critical-action-box {
    background: rgba(255, 15, 15, 0.484); 
    background: linear-gradient(40deg, #d6d9ff8f, #ff050532);
    position: relative;
}

