/* .odjava_button {
    width: 100px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    background-color: white; 
    border: 2px solid gray; 
    margin: 5px; 
}*/

/*-------------------------------------------------*/
body .head {
    background: url('/public/images/main_page_bkg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(62, 35, 35, 0), rgba(255, 255, 255, 0.864)), url('/public/images/main_page_bkg.jpg') center/cover no-repeat;
    box-shadow: 5px 5px 10px rgba(228, 237, 239, 0.282);
}
#logo3{
    width: 70px;
    margin-left: 15px;
}

.hero {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    padding: 10px 10%;
    overflow: hidden;
}

nav {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*border: #222 solid; */ 
    width: 100%;
    /*background-color: #9ba1e2;*/
    height: 100px;
    filter: drop-shadow(5px 5px 100px rgba(184, 185, 205, 0.536));
}

.logo {
    width: 70px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
}

.gumbi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
 
.head-btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    border: hidden;
    color: #fff;
    background: linear-gradient(220deg,#dc60ec, hsl(235, 55%, 75%));
    font-size: 17px;
    border-radius: 30px;
    border-top-right-radius: 0;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(1, 0, 0, 0.28); /* Adjust the values as needed */

}

.head-btn:hover {
    cursor: pointer; /* Optional: Change cursor on hover */
    border: 1px solid #333;
    margin-left: -2px;
}

.head-content{
    margin-top: 10%;
    max-width: 600px;
    margin-left: 4%;
}
.head-content .head-btn{
    margin-top: 10px
}

.head-content h1 {
    font-size: 60px;
    color: #222;
}

.head-content p {
    margin: 15px 0 25px;
    color: #333;
}

.head-content .head-btn{
    padding: 15px 80px;
    font-size: 16px;
}
.logo {
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.5))
}

#logo3 {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2))
} 

svg {
    position: absolute;
    top: -160px;
    width: 2500px;
    left: -350px;
    z-index: -1;
    fill: #9ba1e2;
    fill: linear-gradient(220deg,#0099ff, #9ba1e2);
    opacity: 1;
}

#svg2 {
    position: absolute;
    top: -160px;
    width: 2500px;
    left: -350px;
    z-index: -1;
    fill: #9ba1e2;
    opacity: 0.3;
}

.slova li{
    font-weight: bold;
}