

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  display: grid;
            grid-template-rows: auto auto auto auto;
            gap: 10px;
            padding: 20px;
}

body {
  background-color: red;
  margin: 0;
  padding: 0;
}

#header_h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray; 
  padding: 20px; 
  border-bottom: 5px solid red;
}

#logo, #logo2 {
  width: 100px;
  height: 100px;
  background-color: white; 
  border: 2px solid gray; 
  margin: 5px; 
}

#logo3{
  width: 100px;
  height: 95px;
  background-color: white; 
  border: 2px solid gray; 
  margin: 5px; 
}

.gumbi{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.naslov{
  background-color: white; 
  border: 5px solid gray; 
  margin: 5px; 
}

.info{
  background-color: white; 
  border: 5px solid gray; 
  margin: 5px; 
}

.login_button{
  width: 100px;
  height: 100px;
  text-align: center;
  font-weight: bold;
}

.odjava_button{
  width: 100px;
  height: 100px;
  text-align: center;
  font-weight: bold;
  background-color: white; 
  border: 2px solid gray; 
  margin: 5px; 
}

.signin-form {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.register-form {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.map{
  display: flex;
  background-color: gray;
}

#karta{
  border: 5px solid gray; 
  margin: 5px; 
}

#popis_mjesta {
  flex: 1;
  background-color: white; 
  border: 5px solid gray; 
  margin: 5px; 
}

.footer{
  background-color: white; 
  border: 5px solid gray; 
  margin: 5px; 
}